<a href="/signup">Signup</a>
</br>

<%if !!session[:error]%>
  <h3>Error: <%=session[:error]%></h3>
  <!-- clearing error -->
  <%session.delete('error')%>
<%end%>
<form action="/login" method='post'>
    <label>Username:</label>
    <input type="text" name='username' value='bob'>

    </br>
    <label>Password:</label>
    <input type="password" name='password' value='bob'>
    </br>
    <input type="submit" value="Login">
</form>
