<a href="/login">Login</a>
</br>
<form action="/signup" method='post'>
    <label>Username:</label>
    <input type="text" name='user[username]' value='bob'>

    </br>
    <label>Email:</label>
    <input type="text" name='user[email]' value='bob@bob.com'>

    </br>
    <label>Password:</label>
    <input type="password" name='user[password]' value='bob'>

    </br>
    <label>Location:</label>
    <input type="text" name='user[location]' value='NYC'>

    </br>
    <label>Avatar image url:</label>
    <input type="text" name='user[img]' value=''>

    </br>
    <label>Tell us about yourself:</label>
    <textarea name="user[details]" rows="4" cols="40">Lorem Ipsum blah blah</textarea>
    </br>
    <input type="submit" value="Signup">
</form>
