<h2>Welcome to the Garm Road</h2>
<article>
  <header>
    What is the Garm Road?
  </header>
  <p>An application that allows users to share and exchange unwanted or outgrown clothing and accessories to other users conveniently.</p>
</article>
<%if !logged_in?%>
</br>
<a href="/signup">Signup</a>
</br>
<a href="/login">Login</a>
<%end%>
</br>
<img style="max-width: inherit; border:none;" src="https://nebula.wsimg.com/9d3edcaead38c4c6f4ebc9634425e381?AccessKeyId=9DF2A0B53C23B7F568E6&disposition=0&alloworigin=1" alt="">
